# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.bak
*-backups
*.kicad_prl
fp-info-cache
\#auto_saved_files#

# Lock Files
*.kicad_sch.lck
*.kicad_pcb.lck

# STM32CubeIDE
*.ld
.mxproject
## Standard eclipse gitignore
.metadata
.settings
[Rr]elease
[Dd]ebug
*.launch